/* REGOLE DI DEBUG */


[class^='row']{
    /* background-color: blueviolet; */
}

[class^='col'] {
    /* background-color: goldenrod;
    border: 1px solid black; */
}





/* regole generali */

body{
    font-family: Roboto;
}








/* regole header */
img{
    width:50px;
}

nav{
    height:80px;
}




/* regole table */
table{
    margin-top:20px;
}
button{
    color:white;
}

i{
    color:#6c757d;
    border: 1px solid #6c757d;
    border-radius:10%;
    padding:5px;
}