/* REGOLE DI DEBUG */


[class^='row']{
    /* background-color: blueviolet; */
}

[class^='col'] {
    /* background-color: goldenrod;
    border: 1px solid black; */
}





/* REGOLE GENERALI */

body{
    font-family: Roboto;
}








/* REGOLE HEADER */
header img{
    width:50px;
}

nav{
    height:80px;
}

.btn-outline-success{
    color:white;
    --bs-btn-border-color:white;
}

/* REGOLE CONTENUTO PRINCIPALE */










/* REGOLE TABLE*/
table{
    margin-top:20px;
}
.badgetext-bg-warning{
    color:white;
}

i{
    color:#6c757d;
    border: 1px solid #6c757d;
    border-radius:10%;
    padding:5px;
}